body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #3b1d70, #673ab7);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background-color: #9575cd;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #b39ddb;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
  background: rgba(255,255,255,0.2);
}

th, td {
  padding: 10px;
  border: 1px solid white;
}
